Q1. Create one variable containing following type of data:

In [1]:
string = "Hi this is my string1"

In [2]:
string2 = 'Hi this is my string2'

Q2. Given are some following variables containing data:

In [12]:
var1 = ''
type(var1)

str

In [14]:
var3 =['DS' , 'ML' , 'Python' ]
type(var3)

list

In [15]:
var2 = '[DS , ML ,Python]'
type(var2)

str

In [16]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) / - This operator is used to divide a number with seconf number 


(ii) %  - this is mod operator its gives the remainder after dividing its first number by its second number provided


(iii) // - this is floor division operatoe it gives the integrer part ee get after we divide a number with second number


(iv) ** - this operator is called exponention operator 


I have provided the examples below please refer that

In [17]:
#example of % operator
a  = 7
b = 3
c = a%b
print(c)

1

In [18]:
#example of // operator
a  = 7
b = 3
c = a//b
print(c)

2

In [19]:
# example of ** operator
a  = 7
b = 3
c = a**b
print(c)

343

In [20]:
# example of / operator
a  = 7
b = 3
c = a/b
print(c)

2.3333333333333335

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the  element and its data type.

In [30]:
l = [1,2,3.33,True,'vaibhav',10,5,6,False,'Vai']

print(l)

[1, 2, 3.33, True, 'vaibhav', 10, 5, 6, False, 'Vai']

In [32]:
for i in l:
    print('The element in list is',i,'and its type is',type(i))

The element in list is 1 and its type is <class 'int'>
The element in list is 2 and its type is <class 'int'>
The element in list is 3.33 and its type is <class 'float'>
The element in list is True and its type is <class 'bool'>
The element in list is vaibhav and its type is <class 'str'>
The element in list is 10 and its type is <class 'int'>
The element in list is 5 and its type is <class 'int'>
The element in list is 6 and its type is <class 'int'>
The element in list is False and its type is <class 'bool'>
The element in list is Vai and its type is <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many  times it can be divisible.

In [4]:
A = int(input('Please enter valur for A:'))
print('Valur of A is :', A)
B = int(input('Please enter valur for B:'))
print('Valur of B is :', B)

C = A%B

while C==0:
    print('A is purely divisiblr by B')
    break

Please enter valur for A: 55

Valur of A is : 55

Please enter valur for B: 55

Valur of B is : 55
A is purely divisiblr by B

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is  divisible by 3 or not.

In [14]:
l = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
    ,25,26,27,28,29]

for i in l:
    if i%3==0:
        print('The number ',i,'is divisible by 3')
    else:
        print('The number ',i,'is not divisible by 3')

The number  0 is divisible by 3
The number  1 is not divisible by 3
The number  2 is not divisible by 3
The number  3 is divisible by 3
The number  4 is not divisible by 3
The number  5 is not divisible by 3
The number  6 is divisible by 3
The number  7 is not divisible by 3
The number  8 is not divisible by 3
The number  9 is divisible by 3
The number  10 is not divisible by 3
The number  11 is not divisible by 3
The number  12 is divisible by 3
The number  13 is not divisible by 3
The number  14 is not divisible by 3
The number  15 is divisible by 3
The number  16 is not divisible by 3
The number  17 is not divisible by 3
The number  18 is divisible by 3
The number  19 is not divisible by 3
The number  20 is not divisible by 3
The number  21 is divisible by 3
The number  22 is not divisible by 3
The number  23 is not divisible by 3
The number  24 is divisible by 3
The number  25 is not divisible by 3
The number  26 is not divisible by 3
The number  27 is divisible by 3
The number  28 is not divisible by 3
The number  29 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing  this property.


mutable data types : Where wa can modify elements/values which are already present of the data type eg(list)
in list we can modify the liat elements, wa can update the list elements using index.


immutable data types : Where wa cannot modify elements/values which are already present of the data type eg(str)
in str we cannot modify the str,yet wa can access the str using index.

In [16]:
a = 'Vaibhav'

In [17]:
type(a)

str

In [18]:
a[5]

'a'

In [19]:
a[4]

'h'

In [22]:
a[4]='k'

TypeError: 'str' object does not support item assignment

In [23]:
list1 = [5,6,7,'vaibhav',3.226]

In [ ]:
type(list)